.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: white;
  background-color: #3b3649;
  border-radius: 10px 10px 0 0;
  margin: 0 0 30px;
}

.form-actions {
  display: flex;
  justify-content: center;
  margin: 10px 0 30px;
  background-color: white;
}
